{% extends 'main.html' %}
{% from 'macros/form_macro.html' import mostrarcampo, mostrarenvio %}

{% block head %}
    {{ super() }}
    <title>Transfer</title>
    <link rel="stylesheet" href="static/css/style.css">
    <style>
        .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
        .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
            border-radius: 4px;
        }

        .mdc-text-field--outlined .mdc-notched-outline__leading {
            border-width: 1px;
        }

        .mdc-text-field--outlined .mdc-notched-outline__trailing {
            border-width: 1px;
        }

        .mdc-text-field--outlined .mdc-notched-outline__notch {
            padding: 0;
        }

        .mdc-text-field--outlined .mdc-floating-label {
            transform: translate(12px, 12px) scale(1);
        }

        .mdc-text-field--outlined .mdc-floating-label--float-above {
            transform: translate(8px, -6px) scale(0.75);
        }

        .mdc-text-field--outlined .mdc-text-field__input {
            padding: 10px 12px;
        }
    </style>
{% endblock %}


{% block content %}
<body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="static/img/logo.png" alt="" width="35" height="35" class="d-inline-block align-text-top">
          Transferchain
        </a>
      </div>
    </nav>
    <br></br>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="alert alert-{{ messages.0.0}} text-center" role="alert">
          {% for category, message in messages %}
            {{ message }}
          {% endfor %}
        </div>
       {% endif %}
    {% endwith %}
    <div class="contenedor" style="max-eight: 52px; margin-top: -120px">
        <div class="box-login shadow-lg border p-5 rounded">
            <div class="row mb-3">
                <div class="col-lg-12 text-center">
                    <img src="static/img/logo.png" alt="Logo" id="logoSkoy">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">Transferir un auto</h1>
                </div>
            </div>

            <!-- row 1 -->
    <!-- row 1 -->
    <form method="POST" action="/transfer">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <input type="hidden" name="owner" value="{{ owner_id }}">

        <div class="row mt-3 justify-content-center">
            <div class="col-lg-8">
                <div class="mdc-text-field mdc-text-field--outlined">
                    {{ mostrarcampo(form.new_owner) }}
                    <p type="number" class="mdc-text-field__input" name="{{ form.new_owner.name }}" aria-labelledby="my-label-id">
                    <span class="material-icons-outlined mdc-text-field__icon mdc-text-field__icon--trailing">
                        badge
                    </span>
                </div>
            </div>
        </div>

        <div class="row mt-3 justify-content-center">
            <div class="col-lg-8">
                <label class="mdc-text-field mdc-text-field--outlined w-100">
                    {{ mostrarcampo(form.car_id) }}
                    <p type="number" class="mdc-text-field__input" name="{{ form.car_id.name }}" aria-labelledby="my-label-id">
                    <span class="material-icons-outlined mdc-text-field__icon mdc-text-field__icon--trailing">
                        directions_car
                    </span>
                </label>
            </div>
        </div>
        <!-- row 2 -->
        <div class="row mt-3">
            <div class="col-lg-12">
                {{ mostrarenvio(form.submit, class="btn btnLogin w-100 rounded-pill") }}
            </div>
        </div>

    </form>
    {% endblock %}

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        referrerpolicy="no-referrer"></script>
    <!-- Required Material Web JavaScript library -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <!-- Instantiate single textfield component rendered in the document -->
    <script src="static/js/app_material.js"></script>

</body>

</html>